In [13]:
import pandas as pd

In [18]:
# The column scheme for the TweetsCOV19 corpus
TC_columns = ['tweetid', 'user', 'timestamp', 'followers', 'friends',
            'retweets', 'favorites', 'tweet', 'sentiment', 'mentions',
            'hashtags', 'URLs']
len(TC_columns)

12

In [20]:
# , usecols = columns
mayDF = pd.read_csv('TweetsCOV19_052020.tsv', sep='\t', names = TC_columns)
mayDF.shape

(1912070, 12)

In [21]:
mayDF.head()

,tweetid,user,timestamp,followers,friends,retweets,favorites,tweet,sentiment,mentions,hashtags,URLs
0,1255980348229529601,fa5fd446e778da0acba3504aeab23da5,Thu Apr 30 22:00:24 +0000 2020,29697,24040,0,0,null;,1 -1,null;,Opinion Next2blowafrica thoughts,null;
1,1255981220640546816,547501e9cc84b8148ae1b8bde04157a4,Thu Apr 30 22:03:52 +0000 2020,799,1278,4,6,null;,1 -1,null;,null;,null;
2,1255981244560683008,840ac60dab55f6b212dc02dcbe5dfbd6,Thu Apr 30 22:03:58 +0000 2020,586,378,1,2,null;,2 -1,null;,null;,https://www.bbc.com/news/uk-england-beds-bucks...
3,1255981472285986816,37c68a001198b5efd4a21e2b68a0c9bc,Thu Apr 30 22:04:52 +0000 2020,237,168,0,0,null;,1 -1,null;,null;,https://lockdownsceptics.org/2020/04/30/latest...
4,1255981581354905600,8c3620bdfb9d2a1acfdf2412c9b34e06,Thu Apr 30 22:05:18 +0000 2020,423,427,0,0,i hate u:I_Hate_U:-1.8786140035817729;quaranti...,1 -4,null;,null;,null;

Okay, so with the tweets loaded, let's take a look at the actual texts involved.

In [22]:
texts = mayDF.tweet.tolist()

There's a lot of stuff packed into a single tweet cell. (*Lines broken at semi-colons for readability.*)

```
texts[17:19]

'dartford:Dartford_F.C.:-1.7465831715526192;
 windows:Microsoft_Windows:-2.7904184894171227;
 balconies:Balcony:-2.930512226015129;',

'breaking news:Breaking_news:-2.635676665393473;
 democrazy:Democrazy:-2.741076674919324;']
```

What have they done? It looks like they've actually gutted the tweet. According to the documentation:

> For each entity, we aggregated the original text, the annotated entity and the produced score from FEL library. Each entity is separated from another entity by char ";". Also, each entity is separated by char ":" in order to store "original_text:annotated_entity:score;". If FEL did not find any entities, we have stored "null;".

I would like to see an original tweet and then the transformed version to be clear on what's happened. For right now, I am going to print off a bunch of tweets to see if looking at them on paper will make them make sense.

In [48]:
# a lot of the items are simply `null;` 
# the first task is to remove those:
filtered = [item for item in texts[0:100] if item != 'null;']

# then we save the list to a file
with open('tweets.txt', 'w') as f:
    f.write('\n\n'.join(filtered))